/* Universal Styles */

html,
body {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
  background-color: white;
}

/* Fonts */

h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

h2 {
  font-size: 1rem;
  /*font-weight: bold;*/
  color: white;
}

nav h2 {
  display: none;
}

p {
  font-size: 1rem;
}

/* Header Section */

header {
  background-image: url("../media/images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ribbon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  width: 960px;
  height: 3.4rem;
  margin-bottom: 10rem;
  position: relative;
  top: 1rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

nav ul {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  color: white;

}

nav li {
  margin-left: 1rem;
}

.container-motto {
  width: calc(960px + 2rem);
  display: flex;
  justify-content: flex-end;
}

.motto {
  text-transform: uppercase;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.motto h1 {
  margin: 1.5rem 5rem;
  line-height: 1.2;
}

/* Services Section */

#paper {
  width: 3.5rem;
  height: auto;
}

#ruler {
  width: 5rem;
  height: auto;
}

#truck {
  width: 5rem;
  height: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services {
  display: flex;
  align-items: center;
}

.box {
  margin: 3rem 3rem;
  width: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.img-win {
  height: 5.2222rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  }

  /* Extra Info Section */

.extra-info {
  width: 960px;
  display: flex;
  justify-content: center;
}

.info-box {
  width: 35%;
  margin: 0 5%;
  margin-bottom: 5rem;
}

.extra-info h2 {
  font-weight: bold;
  background-color: cadetblue;
  margin-bottom: 1rem;
  padding: 0.5rem 1.25rem;
  width: 10rem;
  text-transform: uppercase;

}

.extra-info p {
  width: 100%;
}

/* Footer Section */

footer {
  background-color: azure;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-bott {
  width: 960px;
  display: flex;
  align-items: center;
}

.logo-bott img {
  height: 1.5rem;
  margin: 4rem 1rem 4rem 4rem;
}

@media only screen and (max-width: 1024px) {

  header {
    height: 22rem;
  }

  .ribbon {
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 5rem;
    z-index: 10;
  }

  .container-motto {
    width: 100%;
  }

  .motto {
    margin-right: 2rem;
    position: relative;
    top: 8.4rem;
  }

  .motto h1 {
    margin: 0.75rem 4rem;
    font-size: 1.33rem;
  }
}

@media only screen and (max-width: 600px) {

  header {
    height: 17rem;
    background-position: 20%;
  }

  .ribbon {
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 9rem;
  }

  nav ul {
    display: none;
  }

  nav h2 {
    display: block;
    margin-right: 2rem;
  }

  .logo h2 {
    display: none;
  }

  .container-motto {
    width: 100%;
    position: relative;
    top: 4rem;
  }

  .motto {
    width: 100%;
    font-size: 1.33rem;
    margin: 0;
  }

  .services {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 3.77rem 0;
  }

  .box {
    margin: 1.54rem;
  }

  .box p {
    font-size: 0.77rem;
  }

  .extra-info {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .info-box {
    width: 100%;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .extra-info h2 {
    width: 100%;
    text-align: center;
  }

  .extra-info p {
    width: 97%;
    margin: 0;

  }

  .logo-bott {
    justify-content: center;
  }

  .logo-bott p {
    display: none;
  }
}
